<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello EJS</h1>
  <!-- 
    通过它可以将render传递进来的数据直接在网页中现在出来
  -->
  <%=name%>
</body>
</html>